
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
}

#page-content-wrapper {
    flex: 1;
}
